
#
# Define locations of JVMs in your system (for performance tests).
#

# SUN's JRE (must include server runtime)
# sun-1.6-jvm.home=c:/java/sun-jdk-1.6.0_06/jre

# Apache Harmony
# harmony-1.5-jvm.home=c:/java/harmony-jdk

# IBM JRE
# ibm-1.6-jvm.home=c:/java/ibm-j2sdk1.6.0/jre

# JRockit
# jrockit-1.6-jvm.home=c:/java/jrockit-R27.5.0-jdk1.6.0_03/jre

