<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="jsuffixarrays" parallel="methods" thread-count="4" time-out="60000">
  <listeners>
    <listener class-name="org.jsuffixarrays.TextTestReporter"></listener>
  </listeners>
  <test name="all">
    <packages>
      <package name="org.jsuffixarrays.*" />
    </packages>
  </test>
</suite>